/build*/
/dist/
# Local packages created by scripts/package.sh and build-local.sh
/ctunnel-*.tar.gz
/ctunnel-*.zip
/include/generated/
/.config
/.config.old
/.ctunnel-configure.mk
/defconfig
/.cache/
__pycache__/
*.pyc
*.key
*.pub
*.log
.DS_Store
