menu "Network"

config FEATURE_TCP
	bool "TCP forwarding"
	default y

config FEATURE_IPV4
	bool "IPv4"
	default y

config FEATURE_IPV6
	bool "IPv6"
	default y

config FEATURE_WORK_CONNECTION
	bool "On-demand work connections"
	default y

config FEATURE_WORK_POOL
	bool "Idle work-connection pool"
	depends on FEATURE_WORK_CONNECTION
	default y

endmenu

