CONFIG_CTUNNEL_ROLE_BOTH=y
CONFIG_ENABLE_SECTION_GC=y
CONFIG_CTUNNEL_LINK_MOSTLY_STATIC=y
CONFIG_FEATURE_IPV4=y
CONFIG_FEATURE_IPV6=y
CONFIG_FEATURE_TCP=y
CONFIG_CRYPTO_MONOCYPHER=y
CONFIG_CRYPTO_CHACHA20_POLY1305=y
CONFIG_FEATURE_PUBLIC_KEY_AUTH=y
CONFIG_FEATURE_DATA_ENCRYPTION=y
CONFIG_FEATURE_WORK_CONNECTION=y
CONFIG_FEATURE_WORK_POOL=y
CONFIG_FEATURE_KEYGEN=y
CONFIG_FEATURE_FINGERPRINT=y
CONFIG_FEATURE_CONFIG_TEST=y
CONFIG_FEATURE_BUILD_INFO=y
CONFIG_FEATURE_VERBOSE_HELP=y
CONFIG_FEATURE_COMMAND_LINE_OVERRIDE=y
CONFIG_LOG_MAX_LEVEL_INFO=y
CONFIG_MAX_CLIENTS=4
CONFIG_MAX_SERVICES=16
CONFIG_MAX_STREAMS=64
CONFIG_MAX_PENDING_STREAMS=16
CONFIG_MAX_FRAME_SIZE=1048576
CONFIG_STREAM_BUFFER_SIZE=65536
CONFIG_CONTROL_BUFFER_SIZE=4096
CONFIG_DEFAULT_MAX_STREAMS=64
CONFIG_DEFAULT_MAX_PENDING_STREAMS=16
CONFIG_DEFAULT_POOL_COUNT=2
CONFIG_DEFAULT_POOL_MIN=1
CONFIG_DEFAULT_POOL_MAX=8
