CONFIG_CTUNNEL_ROLE_BOTH=y
CONFIG_ENABLE_SECTION_GC=y
CONFIG_CTUNNEL_LINK_MOSTLY_STATIC=y
CONFIG_FEATURE_IPV4=y
CONFIG_FEATURE_IPV6=y
CONFIG_FEATURE_TCP=y
CONFIG_FEATURE_UDP=y
CONFIG_FEATURE_PROXY_PROTOCOL=y
CONFIG_FEATURE_PROXY_PROTOCOL_V1=y
CONFIG_FEATURE_PROXY_PROTOCOL_V2=y
CONFIG_CRYPTO_MONOCYPHER=y
CONFIG_CRYPTO_CHACHA20_POLY1305=y
CONFIG_FEATURE_PUBLIC_KEY_AUTH=y
CONFIG_FEATURE_DATA_ENCRYPTION=y
CONFIG_FEATURE_WORK_CONNECTION=y
CONFIG_FEATURE_WORK_POOL=y
CONFIG_FEATURE_KEYGEN=y
CONFIG_FEATURE_FINGERPRINT=y
CONFIG_FEATURE_CONFIG_TEST=y
CONFIG_FEATURE_BUILD_INFO=y
CONFIG_FEATURE_VERBOSE_HELP=y
CONFIG_FEATURE_ENV_OVERRIDE=y
CONFIG_FEATURE_COMMAND_LINE_OVERRIDE=y
CONFIG_LOG_MAX_LEVEL_DEBUG=y
CONFIG_FEATURE_ASSERTIONS=y
CONFIG_FEATURE_PROTOCOL_DIAGNOSTICS=y
CONFIG_FEATURE_TEST_HOOKS=y
CONFIG_MAX_CLIENTS=64
CONFIG_MAX_SERVICES=128
CONFIG_MAX_STREAMS=512
CONFIG_MAX_PENDING_STREAMS=256
CONFIG_MAX_FRAME_SIZE=1048576
CONFIG_MAX_CLIENT_ID_LENGTH=128
CONFIG_MAX_SERVICE_ID_LENGTH=128
CONFIG_MAX_ADDRESS_LENGTH=256
CONFIG_MAX_PATH_LENGTH=1024
CONFIG_MAX_PORT_RANGES=64
CONFIG_STREAM_BUFFER_SIZE=131072
CONFIG_CONTROL_BUFFER_SIZE=16384
CONFIG_DEFAULT_MAX_STREAMS=512
CONFIG_DEFAULT_MAX_PENDING_STREAMS=256
CONFIG_DEFAULT_POOL_COUNT=16
CONFIG_DEFAULT_POOL_MIN=4
CONFIG_DEFAULT_POOL_MAX=32
