CONFIG_CTUNNEL_ROLE_CLIENT_ONLY=y
CONFIG_OPTIMIZE_FOR_SIZE=y
CONFIG_ENABLE_LTO=y
CONFIG_ENABLE_SECTION_GC=y
CONFIG_CTUNNEL_LINK_MOSTLY_STATIC=y
# CONFIG_FEATURE_IPV4 is not set
CONFIG_FEATURE_IPV6=y
CONFIG_FEATURE_TCP=y
CONFIG_CRYPTO_MONOCYPHER=y
CONFIG_CRYPTO_CHACHA20_POLY1305=y
CONFIG_FEATURE_PUBLIC_KEY_AUTH=y
# CONFIG_FEATURE_DATA_ENCRYPTION is not set
CONFIG_FEATURE_WORK_CONNECTION=y
CONFIG_FEATURE_WORK_POOL=y
# CONFIG_FEATURE_KEYGEN is not set
# CONFIG_FEATURE_FINGERPRINT is not set
# CONFIG_FEATURE_CONFIG_TEST is not set
# CONFIG_FEATURE_BUILD_INFO is not set
# CONFIG_FEATURE_VERBOSE_HELP is not set
# CONFIG_FEATURE_ENV_OVERRIDE is not set
# CONFIG_FEATURE_COMMAND_LINE_OVERRIDE is not set
CONFIG_LOG_MAX_LEVEL_WARN=y
CONFIG_MAX_CLIENTS=1
CONFIG_MAX_SERVICES=4
CONFIG_MAX_STREAMS=8
CONFIG_MAX_PENDING_STREAMS=4
CONFIG_MAX_FRAME_SIZE=16384
CONFIG_MAX_CLIENT_ID_LENGTH=32
CONFIG_MAX_SERVICE_ID_LENGTH=32
CONFIG_MAX_ADDRESS_LENGTH=64
CONFIG_MAX_PATH_LENGTH=256
CONFIG_MAX_PORT_RANGES=8
CONFIG_STREAM_BUFFER_SIZE=16384
CONFIG_CONTROL_BUFFER_SIZE=1024
CONFIG_DEFAULT_MAX_STREAMS=8
CONFIG_DEFAULT_MAX_PENDING_STREAMS=4
CONFIG_DEFAULT_POOL_COUNT=1
CONFIG_DEFAULT_POOL_MIN=1
CONFIG_DEFAULT_POOL_MAX=2
