CONFIG_CTUNNEL_ROLE_BOTH=y
CONFIG_FEATURE_IPV4=y
CONFIG_FEATURE_IPV6=y
CONFIG_FEATURE_TCP=y
CONFIG_FEATURE_UDP=y
CONFIG_FEATURE_PROXY_PROTOCOL=y
CONFIG_FEATURE_PROXY_PROTOCOL_V1=y
CONFIG_FEATURE_PROXY_PROTOCOL_V2=y
CONFIG_EVENT_WSAPOLL=y
CONFIG_LOG_MAX_LEVEL_INFO=y
